<h1><%= t '.title' %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t '.month' %></th>
      <th class="text-right"><%= t '.amount' %></th>
    </tr>
  </thead>

  <tbody>
    <% @monthly_assets.each do |asset| %>
      <tr>
        <td><%= asset[:month] %></td>
        <td class="text-right"><%= asset[:amount].to_s(:delimited) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
