<%= form_with(model: asset, local: true) do |form| %>
  <% if asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
        <% asset.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :bank %>
    <%= form.collection_select :bank_id, Bank.all, :id, :name, {}, { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= form.label :amount %>
    <%= form.text_field :amount, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :occurred_at %>
    <%= form.datetime_select :occurred_at, {}, class: 'form-control' %>
  </div>


  <div class="actions">
    <%= form.submit "Submit", { class: "btn btn-raised btn-primary" } %>
  </div>
<% end %>
