<h1><%= t('activerecord.models.asset') %></h1>

<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= t '.occurred_at' %></th>
      <th scope="col"><%= t '.bank_name' %></th>
      <th scope="col" class="text-right"><%= t '.amount' %></th>
      <th scope="col" class="text-right"></th>
    </tr>
  </thead>

  <tbody>
    <% @assets.each do |asset| %>
      <tr>
        <td><%= l asset.occurred_at, format: :custom_monthy %></td>
        <td><%= asset.bank.name %></td>
        <td class="text-right"><%= asset.amount.to_s(:delimited) %></td>
        <td class="text-right">
          <%= link_to 'Edit', edit_asset_path(asset) %> /
          <%= link_to 'Destroy', asset, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('assets.common.new_asset'), new_asset_path, class: 'btn btn-raised btn-primary' %>
