<h1><%= t('activerecord.models.asset') %></h1>

<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th><%= t '.bank_name' %></th>
      <th><%= t '.amount' %></th>
      <th><%= t '.occurred_at' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assets.each do |asset| %>
      <tr>
        <td><%= asset.bank.name %></td>
        <td><%= asset.amount.to_s(:delimited) %></td>
        <td><%= asset.occurred_at %></td>
        <td><%= link_to 'Show', asset %></td>
        <td><%= link_to 'Edit', edit_asset_path(asset) %></td>
        <td><%= link_to 'Destroy', asset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('assets.common.new_asset'), new_asset_path, class: 'btn btn-raised btn-primary' %>
